<!doctype html>
<html>
	<head>
    	<meta charset="UTF-8">
        <title>Memory test</title>
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="body">
        <div class="container">
            <h1>Memory 	</h1>
            <p>Test your memory</p>
            <p id="result" class=""></p>
        </div>

        <div class="container memoryContainer">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					{{range $i, $item := .}}
						<div class="row memoryRowDiv">
							{{range	$index, $elemt := $item}}
								<div id="c{{$i | T}}{{$index | T}}" class=""></div>
							{{end}}
						</div>
					{{end}}
          		</div>
			</div>
		</div>

        <script type="application/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
  		<script src="/static/js/bootstrap.min.js"></script>
        <script>
            var d = [6][6];
            for (var i = 1; i<=6; i++){
                for (var x = 1; x<=6; x++) {
                    (function (i, x) {
                        var y = i.toString() + x.toString();
                        document.getElementById("c"+y).addEventListener("click", function () {
                            socket.send(y);
                            socket.onmessage = function (e) {
                                t = e.data.split(" ");
                                for (i = 0; i < t.length; i++ ) {
                                    if (t[i] === "success") {
                                        document.getElementById("c"+y).classList.add("active")
                                    }else if (t[i] === "fail") {
                                        document.getElementById("result").classList.add("danger");
                                        document.getElementById("c"+y).classList.add("error");
                                        document.getElementById("result").innerHTML = "fail";
                                    }
                                }
                            };
                            console.log("click", y)
                        })
                    })(i, x)
                }
            }
            var socket = new WebSocket("ws://localhost:3002/echo");

            socket.onopen = function () {
                send("ok")
            };

            socket.onmessage = function (e) {
               // output.innerHTML += "Server: " + e.data + "\n";
                t = e.data.split(" ");
                console.log(t);
                for (i = 0; i < t.length; i++ ){
                    if (t[i] === "stop") {
                        for (var i = 1; i<=6; i++) {
                            for (var x = 1; x<=6; x++) {
                                (function (i, x) {
                                    var y = i.toString() + x.toString();
                                    document.getElementById("c"+y).classList.remove("active")
                                })(i, x)
                            }
                        }
                        return
                    }

                    document.getElementById(t[i]).classList.add("active");
                }
            };

            function send(t) {
                socket.send(t);
              //  input.value = "";
            }
        </script>
	</body>
</html>
